.item {
	display: flex;
	align-items: center;
	font-size: 1rem;
}

.code {}

.name {
	flex: 1 1 auto;
	padding: 0 0.5rem;
	text-align: center;
}

.price {
	font-weight: 700;
	white-space: nowrap;
}

.delete {
	font-size: 1.5rem;
	height: 20px;
	width: 20px;
	flex: 0 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
	margin: 0px 0px 0px 1rem;

	@media(any-hover: hover) {
		cursor: pointer;
		transition: background-color .3s ease 0s;

		&:hover {
			background-color: #d4cbcb49;
		}
	}
}

@media (max-width: 480px) {
	.item {
		font-size: 0.825rem;
	}
}