.item {
	transition: all 0.3s ease 0s;
	display: flex;
	font-size: 1rem;
	height: auto;

	&:not(:last-child) {
		padding: 0px 0px 0.5rem 0px;
		margin-bottom: 1rem;
		border-bottom: 1px solid #343434;
	}
}

.code {}

.name {
	flex: 1 1 auto;
	text-align: center;
}

.price {
	font-weight: 700;
}

.delete {
	font-size: 1.5rem;
	height: 1.5rem;
	width: 1.5rem;
	flex: 0 0 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: red;
	margin: 0px 0px 0px 1rem;

	@media(any-hover: hover) {
		cursor: pointer;
		transition: background-color .3s ease 0s;

		&:hover {
			background-color: #d4cbcb49;
		}
	}
}